{% extends 'leaderboard/base.html' %}

{% block header %}
  <h1>{% block title %}Leaderboard{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div id="leaderboard">
        <table class="table">
            <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Money</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <th scope="row">{{ user['username'] }}</th>
                        <td>£{{'%0.2f'| format(user['amount']|float)}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}