{% extends 'race/base.html' %}

{% block header %}
  <h1>{% block title %}Race {{ race['number'] }}{% endblock %}</h1>
{% endblock %}

{% block raceinfo %}
    <div id="raceinfo">
        <p>Name: {{ race['name'] }}<br>
            Venue: {{ race['venue'] }}<br>
            Distance: {{ race['distance'] }}<br>
            Type: {{ race['type'] }}<br>
            Field: {{ race['field'] }}</p>
    </div>
{% endblock %}

{% block state %}
 {% if race['open'] == race_state.NOT_YET_OPEN.value %}
    <div class="alert alert-warning" role="alert">
        This race is not yet open for bets
    </div>
 {% elif race['open'] == race_state.CLOSED.value %}
     <div class="alert alert-danger" role="alert">
        This race is now closed
    </div>
 {% elif race['open'] != race_state.OPEN.value %}
     <div class="alert alert-danger" role="alert">
        An unexpected error has occurred: {{ race['open'] }}
    </div>
 {% endif %}
{% endblock %}

{% block horseinfo %}
    <div id="horseinfo">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Place</th>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Odds</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for horse in horses %}
                    <tr>
                        {% if horse['place'] == None %}
                            <th scope="row">-</th>
                        {% else %}
                            <th scope="row">{{ horse['place'] }}</th>
                        {% endif %}
                        <td>{{ horse['number'] }}</td>
                        <td>{{ horse['name'] }}</td>
                        <td>{{ horse['odds'] }}</td>
                        {% if race['open'] == race_state.OPEN.value and g.user['amount'] > 0 %}
                            <td><a class="btn btn-primary" href="/bet?id={{ horse['id'] }}" role="button">Bet</a></td>
                        {% else %}
                            <td><a class="btn btn-primary disabled" href="/bet?id={{ horse['id'] }}" role="button">Bet</a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block betsinfo %}
    <div id="betsinfo">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">User</th>
                    <th scope="col">Horse</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Each Way</th>
                    <th scope="col">Amount Won</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for bet in bets %}
                    <tr>
                        <td>{{ bet['username'] }}</td>
                        <td>{{ bet['horsename'] }}</td>
                        <td>£{{ bet['amount'] }}</td>
                        {% if bet['each_way'] == 1 %}
                            <td>Yes</td>
                        {% else %}
                            <td>No</td>
                        {% endif %}

                        {% if race_finished %}
                            <td>£{{ bet['amount_won'] }}</td>
                        {% else %}
                            <td></td>
                        {% endif %}

                        {% if race['open'] == race_state.OPEN.value and bet['user_id'] == g.user['id'] %}
                            <td><a class="btn btn-primary" href="/bet/delete/{{ bet['id'] }}" role="button">Delete</a></td>
                        {% else %}
                            <td></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}