{% extends 'bet/base.html' %} {% block header %}
<h1>{% block title %}Place a Bet{% endblock %}</h1>
{% endblock %} {% block content %}
<p>Horse {{ horse['number'] }}: {{ horse['name'] }}<br>Odds: <span id="odds">{{ horse['odds'] }}</span><br></p>
<form class="form-bet" id="betform" method="post">
    <label for="amount" class="sr-only">Amount</label>
    <input id="amount" name="amount" class="form-control mb-3" placeholder="Amount" required autofocus>

    <div class="form-check mb-3">
        <input type="checkbox" name="eachway" class="form-check-input" id="eachway">
        <label class="form-check-label" for="eachway">Each way</label>
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Sumbit</button>

    <div class="alert alert-info d-none mt-5" id="infobox">
        <p id="betval"></p>
    </div>
</form>

<script type="text/javascript">
    $(function() {
        const update = function() {
            var string = "";
            var eachway = $('#eachway').is(":checked");
            var stake = $('input[name="amount"]').val();
            var odds = $('#odds').text();

            if (stake.length > 0) {
                $('#infobox').removeClass('d-none');
            } else {
                $('#infobox').addClass('d-none');
            }

            console.log(odds, stake, eachway);

            $.ajax({
                url: "/bet/previewCalc",
                data: {
                    "stake": stake,
                    "odds": encodeURIComponent(odds)
                },
                cache: false,
                type: "GET",
                success: function(data) {
                    console.log(data)
                    if (eachway == true) {
                        string = "Your bet is worth £" + data.eachWayWin + " for a win, or £" + data.eachWayPlace + " for a place."
                    } else {
                        string = "Your bet is worth £" + data.singleWin + " if your horse wins."
                    }
                    $('#betval').text(string);
                },
                error: function(xhr) {
                    console.log("Whoops!" + xhr)

                }
            });
        };
        $('#amount').on('input', update);
        $('#eachway').on('change', update);
    });
</script>

{% endblock %}